{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
		<br>
		<fieldset style = "display:inline;border:2px;">
		<legend>Change Password</legend>
		{% from "_formhelpers.html" import render_field %}
			<form method="post" action="/changeP/">
				<dl>
				{{render_field(form.username)}}
				{{render_field(form.password)}}
				{{render_field(form.passwordN)}}
				{{render_field(form.confirm)}}
				</dl>
				<p> After changing the password, you will be logged out from the system. </p>
				<p><input type="submit" value="Change Password"></p>
			</form>
		</fieldset>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}
 
