{% extends "header.html" %}

{% block body %}

<body>
	<div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_team_area m-y-3">
                            <div class="head_title center  wow fadeInUp">
                                <h2>How to use WiFOut:</h2>
				<li>
				<ul>1. Login to the web application by using the network admin user credentials</ul>
				<ul>2. On the dashboard page, the scanned devices are displayed.</ul>
				<ul>3. The user can block a device by clicking the block button.</ul>
				<ul>4. The user can allow a device by clicking the allow button.</ul>
				<ul>5. On the blocked devices tab, a device can be removed from the blocked database by clicking the remove button.</ul>
				<ul>6. On the allowed devices tab, a device can be removed from the allowed database by clicking the remove button.</ul>
				<ul>7. Once a device was added to the blocked database the system will request the wireless network adapters to send<br> deauthentication packets to rogue access points.</ul>
				</li>
				<p>For more details on how to use the system, please download this PDF Manual: <a href="/download/" target = "_blank">User Manual for WiFOut</a></p>
		              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

{% endblock %}
 
